:root {
  font-family: "Dosis", sans-serif;
}

input {
  border: 1px solid rgba(10,10,10,.4);
  border-radius: 6px;
  padding-left: 10px;
}

button {
  background-color: rgb(209, 209, 209);
  min-width: 30px;
  border-radius: 4px;
  padding: 0 4px;
}

select {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background-color: rgb(238, 238, 238);
}

.study-item {
  border: 1px solid rgba(118, 29, 221, .6);
  padding: 1rem;
  margin-bottom: 8px;
}

.study-item:last-child {
  margin-bottom: 0;
}